---
import { getCollection } from 'astro:content'
import BaseLayout from '../../layouts/BaseLayout.astro'

const posts = (
  await getCollection('posts', ({ data }) => {
    return data.isDraft !== true
  })
).sort((a, b) => b.data.publishedDate.valueOf() - a.data.publishedDate.valueOf())
---

<BaseLayout title="Posts">
  <ul class="list-decimal list-inside">
    {
      posts.map((post) => (
        <li>
          <a href={`/posts/${post.slug}/`} class="hover:underline font-bold">
            {post.data.title}
          </a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
