@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Mona Sans';
  src: url('https://fonts.cdnfonts.com/s/91271/Mona-Sans.woff') format('woff2 supports variations'), url('https://fonts.cdnfonts.com/s/91271/Mona-Sans.woff') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}
