@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  src: local('DM Sans'), url(https://fonts.cdnfonts.com/s/29932/DMSans-Regular.woff) format('woff');
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  src: local('DM Sans'), url(https://fonts.cdnfonts.com/s/29932/DMSans[opsz,wght].woff) format('woff');
}
@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 400;
  src: local('DM Sans'), url(https://fonts.cdnfonts.com/s/29932/DMSans-Italic.woff) format('woff');
}
@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 400;
  src: local('DM Sans'), url(https://fonts.cdnfonts.com/s/29932/DMSans-Italic[opsz,wght].woff) format('woff');
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  src: local('DM Sans'), url(https://fonts.cdnfonts.com/s/29932/DMSans-Medium.woff) format('woff');
}
@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 500;
  src: local('DM Sans'), url(https://fonts.cdnfonts.com/s/29932/DMSans-MediumItalic.woff) format('woff');
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  src: local('DM Sans'), url(https://fonts.cdnfonts.com/s/29932/DMSans-Bold.woff) format('woff');
}
@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 700;
  src: local('DM Sans'), url(https://fonts.cdnfonts.com/s/29932/DMSans-BoldItalic.woff) format('woff');
}
