---
import '../styles/base.css'
import Head from '../components/Head.astro'
---

<html lang="en">
  <Head title="aerrata" />
  <body class="font-sans antialiased bg-zinc-950 text-zinc-100 text-sm sm:text-base h-screen flex items-center justify-center">
    <h1 class="font-bold text-xl m-10">Aerrata</h1>
  </body>
</html>
