---
import '../styles/base.css'
import Head from '../components/Head.astro'
import Navbar from '../components/Navbar.astro'
---

<html lang="en">
  <Head title="aerrata" />
  <body class="font-sans antialiased bg-zinc-950 text-zinc-50 text-sm sm:text-base">
    <div class="min-h-screen flex items-center justify-center px-4">
      <div class="w-full max-w-sm md:max-w-2xl">
        <Navbar />
        <div class="flex flex-col">
          <h1 class="text-2xl md:text-3xl font-bold text-center">
            <s class="text-rose-500">Front-end Developer</s>
            <br class="hidden md:block" />based in Malaysia.
          </h1>
        </div>
      </div>
    </div>
  </body>
</html>
