---
import { Image } from 'astro:assets'
import heckerImage from '@/assets/hecker.jpg'

const currentPath = Astro.url.pathname
---

<nav class="fixed left-0 right-0 top-0 z-50 flex justify-center px-4">
  <div class="w-full max-w-full py-12 md:max-w-2xl lg:max-w-5xl">
    <div class="flex items-center justify-between">
      <div>
        <a href="/" class="relative">
          <Image src={heckerImage} format="avif" alt="hecker" class="absolute inset-0 h-10 w-10 animate-[spin_30s_linear_infinite] rounded-full blur-lg transition duration-200 md:h-14 md:w-14" />
          <Image src={heckerImage} format="avif" alt="hecker" class="relative h-10 w-10 animate-[spin_30s_linear_infinite] rounded-full md:h-14 md:w-14" />
        </a>
      </div>
      <div class="flex items-center">
        <a href="/posts" class:list={['border-b-2 text-sm font-semibold', [currentPath.startsWith('/posts') ? 'border-primary' : 'border-transparent']]}>Today I Learned;</a>
      </div>
    </div>
  </div>
</nav>
