---
import '@/styles/base.css'
import Head from '@/components/Head.astro'
import Navbar from '@/components/Navbar.astro'

const { title } = Astro.props
---

<html lang="en" class="dark">
  <Head title={title} />
  <body>
    <Navbar />
    <slot />
  </body>
</html>
