---
import '@/styles/base.css'
import Head from '@/components/Head.astro'
import Navbar from '@/components/Navbar.astro'

const { title } = Astro.props
---

<html lang="en">
  <Head title={title} />
  <body class="bg-zinc-950 font-sans text-sm text-zinc-50 antialiased md:text-base">
    <Navbar />
    <slot />
  </body>
</html>
